.nav {
    background-color: rgba(33, 34, 42, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*box-shadow: 0px 0px 10px 0px #888888 ;*/
    color: rgba(97, 218, 251, 1);
  }
  .navbar {
    display: flex;
    list-style: none;
    text-align: center;
    color: rgba(222, 235, 248, 1);
  }
  .f900B {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
  }
  .navbar > li {
    padding: 10px; 
  }
  .navlogo{
    width: 60px;
  }
  .cen{
    display: flex;
    align-items: center;
  }