* {
  box-sizing: border-box;
}
h1,
h2 {
  color: #333333;
}
body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

.card {
  padding: 1rem;
  width: 20rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.btn {
  font-family: inherit;
  padding: 0.5rem 1rem;
  background-color: #800040;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0 1rem;
  border: 1px solid #800040;
}
.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}
.actions {
  text-align: right;
}
.modal {
  position: fixed;
  width: 30rem;
  background-color: white;
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  top: 20vh;
  left: calc(50% - 15rem);
}
.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}
.btn--alt {
  background-color: transparent;
  color: #800040;
}
.btn--alt:hover {
  background-color: #f8dae9;
}
.suc{
  z-index: 2;
  position: fixed;
  background-color: white;
  width: 30rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(50% - 15rem);
  top: 20vh;
  border-radius: 6px;
}